<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CoSystems Inc</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://use.typekit.net/xbg7zzr.css">
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/cosystems.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar sticky-top py-1" id="mainNav">
    <div class="container d-flex flex-column flex-md-row justify-content-between collapse navbar-collapse py-4">
      <a class="navbar-brand py-2" href="#">
        <img src="img/cosyslogo2.png" alt="logo" height="40">
      </a>
      <a class="py-2 d-none d-md-inline-block" data-toggle="tab" href="#home">Home</a>
      <a class="py-2 d-none d-md-inline-block" data-toggle="tab" href="#aboutus">About</a>
      <div class="btn-group">
        <a class="py-2 d-none d-md-inline-block" href="products.html">Products</a>
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">PTSN Access Modules</a>
          <a class="dropdown-item" href="#">Data Interface Modules</a>
          <a class="dropdown-item" href="#">PTSN Access IP Systems</a>
          <a class="dropdown-item" href="#">Protocol Stacks</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">PTSN Access to IP Module</a>
        </div>
      </div>
      <a class="py-2 d-none d-md-inline-block" data-toggle="tab" href="#support">Tech Support</a>
      <a class="py-2 d-none d-md-inline-block" data-toggle="tab" href="#contact">Contact</a>
    </div>
  </nav>

  <div class="tab-content">
    <div class="tab-pane container fade active show" id="home">
      <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="img/intro.jpg" alt="">
            <div class="intro-text left-0 text-right bg-faded p-5 rounded">
              <h2 class="mb-4">"The Technology Source for Communication Solutions"</h2>
              <p class="mb-3">
                <span style="font-weight: 600;">We are California based corporation celebrating a 30-year track record
                  in the Telecommunications market in 2012.</span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <p class="mb-0">
                  We are specialists in the access networks with proven, state-of-the art technologies and
                  solutions which help our
                  customers reap benefits of upgrading and packetizing public networks with VoIP -
                  focused in the Central Office based switching equipment. We deliver solutions which cut cost,
                  time-to-market, and risk associated with rolling out new products.
                  <br><br>
                  Our customers are systems integrators, OEMs and service providers in the wireline,
                  wireless, cable and satellite access infrastructure markets who are building VoIP centric solutions
                  based open industry standard based hardware platforms: PCI, CompactPCI/TCA and AdvancedTCA.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane container fade" id="aboutus">
      <section class="page-section about-heading">
        <div class="row">
          <div class="col-md">
            <div class="container">
              <!-- <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="img/about.jpg" alt=""> -->
              <div class="about-heading-content">
                <div class="row">
                  <div class="col">
                    <h2 class="mb-4">
                      Founded in 1981, CoSystems achieved a milestone in 2011 - 30 years of continuous success.
                    </h2>
                    <p>
                      CoSystems, headquartered in the Silicon Valley, is a leading edge technology solution provider
                      to global telecom equipment manufacturers and enterprise customers. CoSystems offers ready to
                      deploy solutions for packetizing the edge of the PSTN networks. Our EdgeBlade™ family of
                      products
                      helps customers meet the challenges of migrating from legacy TDM voice networks to the packet
                      domain.
                      Our solutions include signal conversion, access gateways, signaling gateways, and media
                      gateways.
                    </p>
                    <p class="mb-0">Having celebrated 30 years of delivering state-of-art solutions to the industry,
                      we continue to innovate and serve our customers. We thank all our customers,
                      suppliers and employees for your participation and support.
                    </p>
                  </div>
                  <div class="col">
                    <h1>FAQ</h1>
                    <div class="faqContainer">
                      <h2 class="mb-4">1. What is CoSystems history?</h2>
                      CoSystems, headquartered in the Silicon Valley, develops and deploys complete solutions for
                      Packetizing the Edge of the PSTN networks.
                      Backed by a 22-year existence in the communications technology horizon, CoSystems is dedicated to
                      delivering complex systems and
                      building blocks to telecom operators, ISPs, Cable Operators, MSOs, and to the emerging wireless
                      voice and packet infrastructure markets.
                      CoSystems addresses the market needs through a network of distributors, VARs, Systems Integrators
                      and service providers across the globe.

                      <h2 class="my-4">2. What are CoSystems core areas of experience and expertise?</h2>
                      CoSystems has a meritorious track record in the areas of Hardware Development for Signal
                      Conversions products, Access Gateways,
                      Signaling Gateways, Media Gateways, products for Broadband using DSL, Cable and WiFi technology.
                      CoSystems offers ready to
                      deploy solutions for Packetizing the Edge of the PSTN networks. Its EdgeBlade™ Family of products
                      helps customers meet the
                      challenges of migrating from legacy TDM voice networks to the Packet architecture through its
                      clever development and design.

                      <h2 class="my-4">3. What forms the CoSystems Product line?</h2>
                      CoSystems product portfolio broadly encompasses Communication Boards, EdgeBlades and
                      Communication Systems & Solutions.

                      <h2 class="my-4">4. What are the benefits of using CoSystems EdgeBlade&trade; ?</h2>
                      EdgeBlades&trade; are software enhanced cPCI platforms that can be used for specific telecom
                      applications. CoSystems EdgeBlade&trade; have the following benefits:

                      Built with robust and optimized technology
                      Pre-ported with required components
                      Fully integrated with the hardware and OS
                      Tested on various CPUs, chassis and interfaces - Can be integrated easily
                      Rich suite of features
                      Comprehensive suite of APIs drawn out
                      Carrier grade system design with High Availability
                      Optimized cost per port

                      <h2 class="my-4">5. What are the benefits of using CoSystems Solutions?</h2>
                      CoSystems solutions offer high-value applications, optimized costs and minimized risk to
                      their global customers who benefit through rapid Return on Investments in their deployments.
                      Compatibility, Easy migration, Cost-effectiveness and quicker Return on Investments are some
                      of the benefits that CoSystems products carry.


                      <h2 class="my-4">6. Who are CoSystems customers?</h2>
                      Cosystems address the needs of Telecom Operators, MSO's, Cable Operators
                      and System Integrators mainly in the PAC and EMEA markets. Some key accounts
                      include <strong>ADC, AFC, AT&T, BPL, Carrier Access, CISCO, Ericsson, Evolving Systems, Hitachi,
                        Intel, Lucent, Marconi, Motorola, Nortel, NEC, OKI, OpenTel, Pulsecom, Siemens and SUN.</strong>


                      <h2 class="my-4">7. Does CoSystems provide worldwide support for its products?</h2>
                      Cosystems has support centers in the Asia Pacific region and the United States of America.
                      Our dedicated engineering teams are trained to provide timely and optimal solutions for all your
                      problems.


                      <h2 class="my-4">8. Whom do I contact for more info than posted on the CoSystems website?</h2>
                      For more queries about CoSystems or its products, please visit our other links or send an email
                      to
                      enquiry@cosystems.com. We will be glad to assist you.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane container fade" id="products">
      <section class="page-section">
        <div class="container">
          <div class="product-item">
            <div class="product-item-title d-flex">
              <div class="bg-faded p-5 d-flex ml-auto rounded">
                <h2 class="section-heading mb-0">
                  <span class="section-heading-lower">Voice Gateway</span>
                </h2>
              </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/voicegateway.jpg"
              alt="">
            <div class="product-item-description d-flex mr-auto">
              <div class="bg-faded p-5 rounded">
                <p class="mb-0">A VoIP Platform for "Packetizing the Edge of the PSTN Network".
                  With on-board V5.2, ISDN-PRI or GR303 and optional MGCP/SIP,
                  the platform can handle up to 480 channels of voice/fax.
                  VG4800IP EdgeBlade&trade; is a high-density, integrated DSP platform ideal for developing a variety
                  of VoIP access and core equipment. VG4800 supports LBR and PCM codecs.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section">
        <div class="container">
          <div class="product-item">
            <div class="product-item-title d-flex">
              <div class="bg-faded p-5 d-flex mr-auto rounded">
                <h2 class="section-heading mb-0">
                  <span class="section-heading-lower">Media Gateway</span>
                </h2>
              </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/mediagateway.jpg"
              alt="">
            <div class="product-item-description d-flex ml-auto">
              <div class="bg-faded p-5 rounded">
                <p class="mb-0">
                  A powerful Single Board Media Gateway platform with MGCP module designed for TDM and IP based
                  applications.
                  MG4800IP can be used to build Access Gateways, Tandem Media Gateways, Wireless to Wireline Gateways,
                  IP to PSTN Trunking Gateways and Remote DLCs. MG4800IP supports V5.2, PRI and GR303 protocols.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="page-section">
        <div class="container">
          <div class="product-item">
            <div class="product-item-title d-flex">
              <div class="bg-faded p-5 d-flex ml-auto rounded">
                <h2 class="section-heading mb-0">
                  <span class="section-heading-lower">Systems</span>
                </h2>
              </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="img/systems.jpg" alt="">
            <div class="product-item-description d-flex mr-auto">
              <div class="bg-faded p-5 rounded">
                <p class="mb-0">
                  Signal Conversion Systems-Convertix&trade; :
                  Helps interconnect PSTN networks with Access equipment on different signaling systems. Solutions
                  available for
                  V5.1AN-V5.2LE, V5.1LE-V5.2AN, CAS/MF to V5.x, PRI to V5.x on a choice of 16, 48 and 64 port systems.
                  <br><br>
                  Signal Grooming & Monitoring - Condor GroomET:
                  T1/E1 signal monitoring and grooming systems, which taps live T1/E1 streams, switches and
                  grooms the signaling channels. Available in a choice of 16, 48 and 64 port systems.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="tab-pane container fade" id="support">
      <form class="form-support">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Tech Support Form</h1>
          <p>We will get back to you promptly</p>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Name" required autofocus>
              <label for="name">Name</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Title" required>
              <label for="Title">Title</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="E-Mail" required>
              <label for="E-Mail">E-Mail</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Company Name" required>
              <label for="Companyname">Company Name</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Address" required>
              <label for="Address">Address</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Zip" required>
              <label for="Zip">Zip</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="City" required>
              <label for="City">City</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="State" required>
              <label for="State">State</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Phone" required>
              <label for="Phone">Phone</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Product Name" required>
              <label for="Productname">Product Name</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Serial" required>
              <label for="serial">Serial Number</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Part Number" required>
              <label for="Partnumber">Part Number</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Date of Purchase" required>
              <label for="Dateofpurchase">Date of Purchase</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Support Agreement Reference" required>
              <label for="Supportagreement">Support Agreement Reference</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Hardware Details" required>
              <label for="Hardwaredetails">Hardware Details</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Description" required>
              <label for="Description">Detailed description of bug</label>
            </div>
          </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div>
    <div class="tab-pane container fade" id="contact">
      <form class="form-support">
        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Let's get in touch</h1>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Name" required autofocus>
              <label for="name">Name</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="E-Mail" required>
              <label for="E-Mail">E-Mail</label>
            </div>

          </div>
          <div class="col-md">
            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Phone" required>
              <label for="Phone">Phone</label>
            </div>

            <div class="form-label-group">
              <input type="text" class="form-control" placeholder="Message" required>
              <label for="Message">Message</label>
            </div>
          </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
    </div>

  </div>


  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 small">Copyright &copy; Cosystems, Inc 2019</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <script>
    $("[data-toggle='tab']").click(function () {
      var thisID = $(this).attr('href');
      $(".tab-pane").removeClass('active');
      $(".tab-pane").removeClass('show');
      $(thisID).addClass('active');
      $(thisID).addClass('show');
    });
  </script>
</body>

</html>