<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CoSystems Inc</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.typekit.net/xbg7zzr.css">

    <link href="/static/css/cosystems.css" rel="stylesheet">

</head>

<body>
    <div class="container bg-white">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
              <a class="navbar-brand py-2" href="#">
                  <img src="/static/img/cosyslogo.png" alt="logo" height="40">
              </a>
                <div class="navbar-nav">
                    <a class="nav-item mx-5 nav-link active" href="/">Home</a>
                    <a class="nav-item mx-5 nav-link" href="/products">Products</a>
                    <a class="nav-item mx-5 nav-link" href="/support">Support</a>
                </div>
            </div>
        </nav>
    </div>

  <div class="header">
    <h1>The Technology Source for Communication Solutions</h1>
  </div>

  <div class="content">


    <a name="about"></a>

    <section class="story py-5">


      <div class="container-fluid">

        <div class="section-data">

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1 section-index wow fadeInUp" data-wow-delay="0.3s">01</div>
            <div class="col-md-10 section-heading wow fadeInUp" data-wow-delay="0.4s">About us</div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 section-subheading wow fadeInUp" data-wow-delay="0.5s">
              <h1>Founded in 1981, CoSystems achieved a milestone in 2011 - 30 years of continuous success.</h1>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 section-info wow fadeInUp" data-wow-delay="0.6s">CoSystems, headquartered in the
              Silicon Valley, is a leading edge technology solution provider
              to global telecom equipment manufacturers and enterprise customers. CoSystems offers ready to
              deploy solutions for packetizing the edge of the PSTN networks. Our EdgeBlade™ family of
              products
              helps customers meet the challenges of migrating from legacy TDM voice networks to the packet
              domain.
              Our solutions include signal conversion, access gateways, signaling gateways, and media
              gateways.
              <a href="/products" class="d-block mt-4 btn-link">Learn about our products</a>
            </div>
          </div>

        </div>

      </div>

    </section>

    <a name="services"></a>

    <section class="services py-5">

      <div class="container-fluid">

        <div class="section-data">

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1 section-index wow fadeInUp color-white" data-wow-delay="0.3s">02</div>
            <div class="col-md-8 section-heading wow fadeInUp" data-wow-delay="0.4s">What we do</div>
          </div>

          <div class="row service">
            <div class="col-md-2"></div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="icon">
                <h4 class="color-white">Our history</h4>
              </div>
              <div class="icon-title">
                CoSystems, headquartered in the Silicon Valley, develops and deploys complete solutions for
                Packetizing the Edge of the PSTN networks.
                Backed by a 22-year existence in the communications technology horizon, CoSystems is dedicated to
                delivering complex systems and
                building blocks to telecom operators, ISPs, Cable Operators, MSOs, and to the emerging wireless
                voice and packet infrastructure markets.
                CoSystems addresses the market needs through a network of distributors, VARs, Systems Integrators
                and service providers across the globe.
              </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
              <div class="icon">
                <h4 class="color-white">Our expertise</h4>
              </div>
              <div class="icon-title">
                CoSystems has a meritorious track record in the areas of Hardware Development for Signal
                Conversions products, Access Gateways,
                Signaling Gateways, Media Gateways, products for Broadband using DSL, Cable and WiFi technology.
                CoSystems offers ready to
                deploy solutions for Packetizing the Edge of the PSTN networks. Its EdgeBlade™ Family of products
                helps customers meet the
                challenges of migrating from legacy TDM voice networks to the Packet architecture through its
                clever development and design.
              </div>
            </div>
          </div>
          <div class="row service">
            <div class="col-md-2"></div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="icon">
                <h4 class="color-white">Our customers</h4>
              </div>
              <div class="icon-title">
                Cosystems address the needs of Telecom Operators, MSO's, Cable Operators
                and System Integrators mainly in the PAC and EMEA markets. Some key accounts
                include ADC, AFC, AT&T, BPL, Carrier Access, CISCO, Ericsson, Evolving Systems, Hitachi,
                Intel, Lucent, Marconi, Motorola, Nortel, NEC, OKI, OpenTel, Pulsecom, Siemens and SUN.
              </div>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
              <div class="icon">
                <h4 class="color-white">Our expertise</h4>
              </div>
              <div class="icon-title">
                CoSystems has a meritorious track record in the areas of Hardware Development for Signal
                Conversions products, Access Gateways,
                Signaling Gateways, Media Gateways, products for Broadband using DSL, Cable and WiFi technology.
                CoSystems offers ready to
                deploy solutions for Packetizing the Edge of the PSTN networks. Its EdgeBlade™ Family of products
                helps customers meet the
                challenges of migrating from legacy TDM voice networks to the Packet architecture through its
                clever development and design.
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
</body>

</html>