<!doctype html>
<html lang="en">

<head>
    <title>Product</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cosystems.css">
</head>

<body>
    <nav class="navbar sticky-top py-1" id="mainNav">
        <div class="container d-flex flex-column flex-md-row justify-content-between collapse navbar-collapse py-4">
            <a class="navbar-brand py-2" href="#">
                <img src="img/cosyslogo.png" alt="logo" height="40">
            </a>
            <a class="py-2 d-none d-md-inline-block" href="/">Home</a>
            <a class="py-2 d-none d-md-inline-block" href="/about">About</a>
            <a class="py-2 d-none d-md-inline-block" href="/products">Products</a>
            <a class="py-2 d-none d-md-inline-block" href="/support">Support</a>
        </div>
    </nav>
    <nav id="breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a id="d1" href="#">Home</a></li>
            <li class="breadcrumb-item"><a id="d2" href="#">Library</a></li>
            <li id="d3" class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="row product">
            <div class="col">
                <a onclick="getProduct(this)">H.323</a>
                <div class="product-info text-right">
                    <h3 id="product-title" class="text-right"></h3>
                    <p id="product-para"></p>
                </div>
            </div>
            <div class="product-pdf">

            </div>
        </div>
        <div class="related-products row mt-5">
            <h4 class="d-block">Related Products</h4>
            <ul class="d-block">
                <li>
                    <a href="">ISDN BRI/PRI Stack</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.1.1/pdfobject.min.js'></script>
</body>
</html>