.support-input label {
    display: block;
    font-size: 22px;
    color: rgb(97, 97, 97);
}

.support-input {
    margin-bottom: 0.5rem;
}

.support-input span.error {
    display: block;
    padding-top: 0.6rem;
    color: rgb(185, 0, 0);
}

.support-input input,
.support-input textarea {
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
    background: transparent;
    color: #101010;
    font-weight: bolder;
    border-bottom: 1px solid #c9c9c9;
}

.support-input input:focus, 
.support-input textarea:focus {
    outline: none !important;
}

.wrapper {
    margin-left: auto;
}
.logo{
    height: 40px;
}